<!DOCTYPE html>
<html translate="no">
{{template "head"}}

<body>
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <ul class="v-menu">
        <li class="menu-title">Estado</li>
        <li><a><span class="mif-apps icon"></span>
                <div id="estado">En espera</div>
            </a></li>
        <li class="menu-title">Salida</li>
        <li><a><span class="mif-bubble icon"></span>
                <div id="salida"></div>
            </a></li>
        <li class="menu-title">Respuesta</li>
        <li><a><span class="mif-record_voice_over icon"></span>
                <div id="respid"></div>
            </a></li>
        <li class="menu-title">Ultimo Comando</li>
        <li><a><span class="mif-cloud icon"></span>
                <div id="comand"></div>
            </a></li>
        <li class="menu-title"></li>
    </ul>
    <video id="videoid">
        <source id="sourceid" type="audio/mp3">
    </video>
    <div class="bottom-nav pos-absolute">
        <button onclick="StartSpeech()" disabled id="EscucharButton" class="button">
            <span class="icon mif-spinner5"></span>
            <span class="label">Escuchar</span>
        </button>
        <button onclick="StopSpeech()" disabled id="DetenerButton" class="button">
            <span class="icon mif-pause"></span>
            <span class="label">Detener</span>
        </button>
        <button onclick="StopGUI()" class="button">
            <span class="icon mif-cancel"></span>
            <span class="label">Cerrar</span>
        </button>
    </div>
    {{template "scripts"}}
    <script>
        // Get DOM elements
        let source = document.getElementById("sourceid");
        let video = document.getElementById("videoid");
        let respuesta = document.getElementById("respid");
        let estado = document.getElementById("estado");
        let salida = document.getElementById("salida");
        let escucharButton = document.getElementById("EscucharButton");
        let detenerButton = document.getElementById("DetenerButton");
        let comandElement = document.getElementById("comand");

        // Add Play Event
        video.addEventListener("loadeddata", () => {
            video.play()
        })

        // Speech Base64 Speech
        function speech(bs64) {
            source.src = "data:audio/ogg;base64," + bs64
            video.load();
        }

        // Get recognition
        function GetSpeech() {
            window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
            let recognition = new window.SpeechRecognition();
            recognition.interimResults = true;
            recognition.maxAlternatives = 10;
            recognition.continuous = true;
            return recognition;
        }


        // SendAudio to backend
        function SendAudio(dt) {
            comandElement.innerText = dt;
            speechAndText(dt).then(resp => {
                respuesta.innerText = resp[0];
                speech(resp[1]);
            }).catch((err) => {
                respuesta.innerHTML = `Err: ${err}`;
            })
        }

        let recognition = GetSpeech()
        recognition.onresult = (event) => {
            let interimTranscript = '';
            for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
                let transcript = event.results[i][0].transcript;
                if (event.results[i].isFinal) {
                    SendAudio(transcript);
                } else {
                    // On Recognition
                    interimTranscript += transcript;
                    salida.innerText = interimTranscript;
                }
            }
        }
        // On Stop Recognitation
        recognition.onend = recognition.onerror = (event) => {
            escucharButton.disabled = false;
            detenerButton.disabled = true;
            salida.innerText = "";
            estado.innerText = "Detenido";
        }

        // On Start Recognitation
        recognition.onstart = (event) => {
            estado.innerText = "Escuchando";
            salida.innerText = "";
            escucharButton.disabled = true;
            detenerButton.disabled = false;
        }


        function StartSpeech() {
            estado.innerText = "Iniciado"
            recognition.start();
        }
        function StopSpeech() {
            recognition.stop();
        }
        
        // Start On language
        getLang().then(v =>{
            recognition.lang = v;
            StartSpeech()
        })
    </script>
</body>

</html>