<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<body>
    {{template "sidebar"}}
    <form action="/config/programs/add" method="GET">
        <div class="grid">
            <div class="row">
                <div class="cell-4">
                    <input placeholder="Palabra Clave: Nombre" name="GeneralName" type="text" />
                </div>
                <div class="cell-6">
                    <select name="OS" data-role="select">
                        {{range .OS}}
                        <option value="{{.ID}}" data-template="<span class='mif-info icon'></span> $1">{{.Name}}
                        </option>
                        {{end}}
                    </select>
                </div>
                <div class="cell-2">
                    <button class="button success">Agregar</button>
                </div>
                <div class="cell-12">
                    <label>Directorios: </label>
                    <input placeholder="Hola" name="Programas" type="text" data-role="taginput" class="mt-4"
                        data-random-color="true">
                </div>

            </div>
        </div>


    </form>

    <table class="table compact">
        <thead>
            <tr>
                <th>ID (Identificador)</th>
                <th>GeneralName</th>
                <th>Programas</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{range .Elements}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.GeneralName}}</td>
                <td>{{.Programs}}</td>
                <td>
                    <a href="/config/programs/edit/{{.ID}}" class="button primary">Editar</a>
                    <a href="/config/programs/delete/{{.ID}}" class="button alert">Eliminar</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{template "scripts"}}
</body>

</html>